.formInput {
  display: flex;
  flex-direction: column;
  width: 280px;
}

input, textarea {
  padding: 15px;
  margin: 5px 0px;
  border-radius: 5px;
  border: 1px solid gray;

  &:invalid[focused="true"] {
    border: 1px solid red;

    & ~ span {
      display: block;
    }

  }

}


label {
  font-size: 13px;
  color: gray;
}

span {
  font-size: 10px;
  padding: 3px;
  color: red;
  display: none;
}

textarea {
  resize: vertical;
  font-family: Tahoma, sans-serif;
}
